# Ігноруємо конфігураційний файл з чутливими даними
config.php
install/install.php

# Лог-файли
*.log
error_log
access_log
# Файли резервних копій
*.bak


# Кеш та тимчасові файли
cache/
tmp/
*.cache

# Ігноруємо файли NetBeans
nbproject/
nbproject/private/
nbproject/Makefile-*
nbproject/Package-*
nbproject/build-*
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

# Ігноруємо файли IDE та системні файли
.idea/
.vscode/
.DS_Store
Thumbs.db



